<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <partial name="_PartialCSS"/>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <partial name="_PartialJS"/>
    @RenderSection("Scripts", required: false)
</body>
</html>
